.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    gap: 10px;
    margin-bottom: 60px;
    padding-top: 10px;

}

.nav a {
    font-weight: 600;
    font-size: 32px;
    text-decoration: none;
    color: #F7C815;
}

.nav a:hover{
    color: #EC9704;
}

.nav a.active {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #EC9704;
}